.acc {
  color: white;
  margin-top: 30px;
  border-radius: 8px;

  .acc-head {
    display: flex;
    height: 35px;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid rgb(142, 142, 142);
    padding: 10px;
    background-color: rgb(21, 21, 21);
    padding: 25px;
  }

  .acc-body {
    /* display: none; */
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;

    margin-top: 20px;
    gap: 12px;

    form {
      display: flex;
      gap: 10px;
      align-items: center;
      border: 1px solid grey;
      border-radius: 8px;
      button {
        background-color: black;
      }
    }
  }

  .acc-head .icon {
    margin-left: 10px;
  }
  .acc-head:hover {
    box-shadow: 0 0 0 5px rgba(128, 128, 128, 0.396);
    border: 1px solid rgba(222, 222, 222, 0.754);
  }
}
